/* Fonts de lletres */
/* @import url(https://fonts.googleapis.com/css2?family=Chewy&family=Honk&family=Londrina+Shadow&family=Rubik+Puddles&family=Rubik+Spray+Paint&family=Silkscreen:wght@400;700&family=Teko:wght@300..700&family=Tourney:ital,wght@0,100..900;1,100..900&family=Unna:ital,wght@0,400;0,700;1,400;1,700&display=swap); */
@import url('https://fonts.googleapis.com/css2?family=Chewy&family=Honk&family=Londrina+Shadow&family=Rubik+Puddles&family=Rubik+Spray+Paint&family=Silkscreen:wght@400;700&family=Teko:wght@300..700&family=Tourney:ital,wght@0,100..900;1,100..900&family=Unna:ital,wght@0,400;0,700;1,400;1,700&display=swap');

.rubik-puddles-regular {
  font-family: "Rubik Puddles", serif;
  font-weight: 400;
  font-style: normal;
}


/* GENERAL */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Arial, sans-serif;
  background-image: url("./assets/fondo.jpg"); /*solo es uno random, para tener el codigo hecho*/
  background-size:cover;
  background-repeat: no-repeat;
  color: #333;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}

/* NAVBAR */
header[role=banner] {
  width: 100%;
  text-align: center;
  padding: 20px 0;
}

#logo-main {
  display: block;
  margin: 0 auto 10px;
}
.logoweb{
  align-items: center;
  justify-content: center;
}

.webTitle {
  background-color: rgba(106, 237, 237, 0.608);
  width: fit-content;
  padding: 3%;
  margin:auto;
  margin-top: -80px;
  font-family: "Rubik Puddles";
  font-weight: bolder;
  border-radius: 7%;
  color: aliceblue;
  font-size: 30px;
}

/* NAVBAR */
.banner{
  width: 100%;
}
#navbar-primary .navbar-nav {
  width: 100%;
  text-align: center;
  padding: 0;
}

#navbar-primary .navbar-nav .nav-item {
  display: inline-block;
  margin: 0 10px;
}

#navbar-primary .navbar-nav .nav-link {
  color: #333;
  font-size: 20px;
  background-color: rgba(106, 237, 237, 0.608);
  width: fit-content;
  padding: 3%;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: bolder;
  border-radius: 7%;
  color: aliceblue;
  text-decoration: none;
  transition: color 0.3s ease;
}

#navbar-primary .navbar-nav .nav-link:hover {
  color: rgb(10, 60, 186);
}

/* MAIN */
main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 60vh;
  padding: 20px;
}

.descripcionEfecto{
  visibility: hidden;
  color: #fdfdfd;
  font-size: 15px;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: bolder;
  background-color: rgba(185, 125, 13, 0.608);
  border: solid 6px rgb(13, 27, 185) ;
  width: fit-content;
  padding: 1%;
}

.container{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.video-container {
  text-align: center;
  margin-right: 5%;
}

.descripcionVideo{
  color: #333;
  font-size: 20px;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: bolder;
  background-color: rgba(106, 237, 237, 0.608);
  border-radius: 5%;
  width: fit-content;
  padding: 3%;
}

/* FOOTER */
footer {
  background-color: #128fcd;
  color: white;
  text-align: center;
  padding: 1rem;
  width: 100%;
 
}

footer a{
  font-family: 'Courier New', Courier, monospace;
  font-size: 15px;
  color:aliceblue;
}

footer a:hover{
  color:rgb(226, 113, 0);
}